<div class="main">
  <div class="header">
      <h2>All Movies</h2>
      <div class="actions">
        <input nz-input placeholder="Search movies by category" [formControl]="searchTerm"/>
        <button nz-button nzType="primary" (click)="navigateToCreateMovie()">Create Movie</button>
      </div>
    </div>
</div>

<nz-modal [(nzVisible)]="deleteMovieModal" nzTitle="Confirm Delete" (nzOnCancel)="closeDeleteMovieModal()" nzOkDanger="true" nzOkText="Delete" (nzOnOk)="deleteMovieFromTable(clickedMovieData.id)">
  <ng-container *nzModalContent>
      <p>Are you sure you want to delete <b>{{ clickedMovieData?.title}}</b> ?</p>
  </ng-container>
</nz-modal>
