<div class="main">
  <div class="header">
      <h2>All Movies</h2>
      <div class="actions">
        <input nz-input placeholder="Search movies by category" [formControl]="searchTerm"/>
        <button nz-button nzType="primary" (click)="navigateToCreateMovie()">Create Movie</button>
      </div>
    </div>
    </div>

    <nz-divider nzOrientation="left"></nz-divider>
    <div nz-row  nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div *ngFor="let movie of filteredMovieList" nz-col class="gutter-row" [nzSpan]="8">
        <div class="card" nz-col class="gutter-row" class="inner-box">
          <nz-card  style="width:300px;"  [nzBordered]="true" nzTitle="Title: {{ movie.title }}" [nzExtra]="extraTemplate">
            <p>Director: {{ movie.director }}</p>
            <p>Category: {{ movie.category_name }}</p>
            <p>Release date: {{ movie.release_date | date:'shortDate'}}</p>
          </nz-card>
          <ng-template #extraTemplate>
            <span class="green pointer p-5" [routerLink]="'/movies/movie-details/' + movie.id" [queryParams]="{ movieId: movie.id }" nz-icon nzType="eye" nzTheme="outline"></span>
            <span class="green pointer p-5" [routerLink]="'/movies/edit-movie/' + movie.id" [queryParams]="{ movieId: movie.id }" nz-icon nzType="edit" nzTheme="outline"></span>
            <span class="red pointer p-5" nz-icon nzType="delete" nzTheme="outline" (click)="deleteMovie(movie)"></span>
          </ng-template>
        </div>
      </div>
    </div>
<nz-modal [(nzVisible)]="deleteMovieModal" nzTitle="Confirm Delete" (nzOnCancel)="closeDeleteMovieModal()" nzOkDanger="true" nzOkText="Delete" (nzOnOk)="deleteMovieFromTable(clickedMovieData.id)">
  <ng-container *nzModalContent>
      <p>Are you sure you want to delete <b>{{ clickedMovieData?.title}}</b> ?</p>
  </ng-container>
</nz-modal>
