<div class="movie-details-container">
    <div class="header">
        <div class="flex-between">
          <i class="pointer mr-5" nz-icon nzType="arrow-left" (click)="onBack()"></i>
          <h2 class="m-0">Edit Movie</h2>
        </div>
        <button nz-button nzType="primary" [routerLink]="'/movies/edit-movie/' + movieDetails.id" [queryParams]="{ categoryId: movieDetails.id }" >Update</button>
      </div>
    <nz-divider class="m-0"></nz-divider>
    <div *ngIf="movieDetails">
      <nz-descriptions class="mt-10">
        <nz-descriptions-item nzTitle="Movie title">{{  movieDetails.title }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Movie director">{{ movieDetails.director }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Movie category">{{ movieDetails.category_id }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Movie release date">{{ movieDetails.release_date | date: "shortDate" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Movie description">{{ movieDetails.description }}</nz-descriptions-item>
      </nz-descriptions>
    </div>
  </div>
  